* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #3498db; 
    --color-secundario: #2ecc71; 
    --color-fondo: #ecf0f1;     
    --color-texto: #2c3e50; 
}

