* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --color-principal: #3498db;
    --color-secundario: #f1f1f1;
    --color-fondo: #ecf0f1;
    --color-texto: #2c3e50;
    --color-error: #e74c3c;
    --font1: "Roboto", sans-serif;
    --font2: "Lora", serif;
    --font3: "Fira Sans", sans-serif;
}

body {
    font-family: var(--font3);
    background-color: var(--color-fondo);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor_formulario {
    flex-direction: row;
    gap: 0px;
}

.div-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #f0f0f063;
    max-height: 700px;
}

.imagen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 570px;
    min-height: 570px;
}

.imagen img {
    height: 100%;
    background-color: #e74c3c;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.formulario {
    flex: 1;
    max-width: 500px;
    padding: 50px 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    height: max-content;;
    margin: 0 auto;
    align-items: center;
    line-height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 1% auto;
}

.logo img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}

.formulario h1 {
    font-size: 2.5em;
    color: var(--color-principal);
    margin-bottom: 10px;
}

h2 {
    font-family: var(--font2);
    font-size: 1.8em;
    color: var(--color-texto);
    margin-bottom: 20px;
}

label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin-bottom: 15px;
    padding: 0 10px;
    background-color: #f9f9f9;
    margin: 30px auto;
}

label img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.input-formulario {
    flex: 1;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-family: var(--font3);
}

label:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-principal);
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    font-family: var(--font3);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.errorC {
    height: 40px;
    font-size: 1.2em;
    color: var(--color-error);
    margin-top: 20px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 868px) {
    .imagen {
        display: none;
    }
}
