    /* Variables CSS */
    :root {
        --primary-color: #007bff;
        --text-color: #333;
        --background-color: #ffffff;
        --footer-background-color: #f0f1f3;
        --form-background-color: rgba(255, 255, 255, 0.979);
        --shadow-color: rgba(0, 0, 0, 0.1);
        --font-family: Arial, sans-serif;
    }

    /* Estilos generales */
    body {
        margin: 0;
        font-family: var(--font-family);
        display: flex;
        flex-direction: column;
        background-color: #f5f0f0 ;
    }
    .page-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Header */
    .header {
        background-color: var(--background-color);
        box-shadow: 0 2px 4px var(--shadow-color);
        padding: 20px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    /* Logotipo */
    .logo {
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color);
        text-decoration: none;
    }

    /* Menú de navegación */
    .nav {
        background: var(--background-color);
        display: flex;
        gap: 20px;
    }

    .nav-link {
        color: var(--text-color);
        text-decoration: none;
        font-size: 18px;
        line-height: 70px;
    }

    .nav-link:hover {
        color: var(--primary-color);
    }

    /* Botón de menú para móviles */
    .menu-toggle {
        display: none;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background-color: var(--text-color);
        display: block;
    }

    /* Menú desplegable del usuario */
    .user-info {
        position: relative;
    }

    .user-dropdown {
        display: none;
        position: absolute;
        right: 0;
        text-align: center;
        width: max-content;
        background-color: var(--background-color);
        box-shadow: 0 2px 4px var(--shadow-color);
        padding: 10px;
        border-radius: 5px;
        z-index: 10;
    }

    .user-dropdown .nav-link {
        display: block;
        margin-bottom: 0px;
        padding: 0;
    }

    .user-dropdown .nav-link:last-child {
        margin-bottom: 0;
    }

    .user-info:hover .user-dropdown {
        display: block;
    }
    .icon-user{
        margin-bottom: -5px;
    }
    main{
        flex: 1;
    }

    @media (max-width: 768px) {
        .menu-toggle {
            display: flex;
        }
        .nav {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 0px;
            background: var(--background-color);
            box-shadow: 0 4px 8px var(--shadow-color);
            padding: 30px 0;
        }
        .nav.nav-open {
            position: absolute;
            top: 70px;
            width: 100%;
            display: flex;
            text-align: center;
        }
        .nav-link {
            margin-bottom: 10px;
        }
        .user-dropdown {
            display: none;
            left: 50%; 
            transform: translateX(-50%); 
            text-align: center;
            width: max-content;
            padding: 10px;
            border-radius: 0px;
            width: 100%;
        }
            .user-info {
            justify-content: center; /* Alinea el círculo en el centro en dispositivos móviles */
        }
        
        .user-dropdown {
            display: none;
            left: 0; /* Ajusta la posición en dispositivos móviles */
            transform: none;
            text-align: center;
            width: 100%;
            padding: 10px;
            border-radius: 0;
        }
    }

    /* Footer */
    .footer {
        background-color: var(--footer-background-color);
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 -2px 4px var(--shadow-color);
    }

    .footer .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }


    /* Estilos específicos para los  formularios */
    .containerForm {
        display: flex;
        flex-direction: column;
        min-height: 70vh;
        align-items: center
    }
    
    .form-container {
        background-color: var(--form-background-color);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--shadow-color);
        width: 90%;
        height: 100%;
        margin: 20px auto;
        align-items: center
    }
    .form_creat_user{
        margin-top: 8%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .form-container h2 {
        text-align: center;
        color: var(--text-color);
        margin-bottom: 20px;
    }
    
    .img-container {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        align-items: center
    }
    .img_container_create_user{
        padding: 30px;
        width: 100%;
        min-width: 45%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-container img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .error-mensaje {
        text-align: center;
        padding: 10px;
        color: var(--footer-background-color);
        width: 100%;
        font-size: 12px;
        margin: 20px auto;
        border-radius: 5px;
        max-width: 300px;
    }
    #errorMensajeNew{
        background-color: #0056b3;
        color: white;
    }
    
    .form {
        margin: auto;
        margin-top: -35px;
        max-width: 300px;
        padding: 30px;
        width: 80%;
    }
    
    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .form-group label {
        margin-bottom: 5px;
        color: #555;
        font-size: 14px;
    }
    
    .form-group input[type="password"],
    .form-group input[type="text"],
    .form-group select {
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        outline: none;
        width: 100%;
    }
    
    .form-group input[type="password"]:focus,
    .form-group input[type="text"]:focus,
    .form-group select:focus {
        border-color: var(--primary-color);
    }
    
    .btn {
        width: 100%;
        padding: 10px;
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .btn:hover {
        background-color: #0056b3;
    }
    
    /* Modal */
    .modal {
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .modal-content {
        background-color: var(--background-color);
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 80%;
        max-width: 400px;
        text-align: center;
        z-index: 5;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-content p {
        font-size: 18px;
        color: #333;
        margin: 0;
        padding: 10px 0;
    }
    
    .modal-content p::before {
        content: "✔️";
        display: block;
        font-size: 24px;
        color: #4CAF50;
        margin-bottom: 10px;
    }
    .modal-content-error p::before {
        content: "❌";
        display: block;
        font-size: 24px;
        color: #4CAF50;
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        .form-container {
            flex-direction: column;
            align-items: center;
        }
        
        .img-container {
            margin-bottom: 20px;
        }
        
        .form {
            margin-left: 0;
            width: 100%;
            margin: 0 auto;
        }
    }

    /*gestion de usuarios */
/* Contenedor principal */
.container_user {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 10%;
}

.h1_users {
    font-size: clamp(1.5rem, 4vw, 2.5rem); 
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.btn_create_user {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: clamp(0.875rem, 2vw, 1rem); 
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.btn_create_user:hover {
    background-color: #0056b3;
}

.table_users {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.247);
}

.table_users thead {
    background-color: var(--primary-color);
    color: white;
}

.th_users, .td_users {
    padding: 12px 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: clamp(0.875rem, 1.5vw, 1rem); 
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.tr_users:hover {
    background-color: #bebbbb;
}

.action-btns_user {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn_edit_user, .btn_delete_user {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
    font-size: clamp(0.75rem, 1.5vw, 0.875rem); 
}

.btn_edit_user {
    background-color: #2196F3;
}

.btn_edit_user:hover {
    background-color: #1e88e5;
}

.btn_delete_user {
    background-color: #f44336;
}

.btn_delete_user:hover {
    background-color: #e53935;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container_user {
        padding: 15px;
        margin-top: 20%;
    }

    .th_users, .td_users {
        padding: 8px 4px;
        font-size: clamp(0.75rem, 2vw, 1rem);
    }

    .action-btns_user {
        flex-direction: column;
        gap: 5px;
    }
}


/* Título del modal */
.update_title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Subtítulo del modal */
.update_subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Labels del formulario */
.update_label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs del formulario */
.update_input, .update_select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Botón de actualización */
.update_button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Botón de cerrar */
.modal_close {
    position: relative;
    top: 10px;
    font-size: 1.5em;
    cursor: pointer;
    left: 48%;
}

/* Estilo de oculto */
.hidden {
    display: none;
}
/* Botón de cerrar */
.modal_close_update_update {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em; /* Aumentar el tamaño de la fuente */
    color: #333; /* Color del texto */
    cursor: pointer;
    transition: color 0.3s ease; /* Transición para el color del texto */
    padding: 5px; /* Añadir un poco de espaciado alrededor del icono */
    border-radius: 50%; /* Hacer el área clicable más grande con bordes redondeados */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
}

.modal_close_update_update:hover {
    color: #ff0000; /* Color del texto al pasar el cursor */
    background: rgba(255, 255, 255, 1); /* Fondo blanco completamente opaco */
}

/*.modal-content_update{
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    max-width: 400px;
    text-align: center;
}*/